<ul>
  <li>{{this.moduleHealths.Vehicles.name}} - {{this.moduleHealths.Vehicles.module.message}}</li>
  <li>{{this.moduleHealths.Customers.name}} - {{this.moduleHealths.Customers.module.message}}</li>
  <li>{{this.moduleHealths.Notifications.name}} - {{this.moduleHealths.Notifications.module.message}}</li>
  <li>{{this.moduleHealths.Users.name}} - {{this.moduleHealths.Users.module.message}}</li>
  <li>{{this.moduleHealths.Reservations.name}} - {{this.moduleHealths.Reservations.module.message}}</li>
</ul>

<ul>
  <li *ngFor="let item of this.signalrService.data">{{item}}</li>
</ul>
