<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" id="email" matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" id="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <input type="text" id="role" readonly="true" matInput placeholder="Role" formControlName="role">
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error">
        {{error}}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary">Sign up</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<!-- <span *ngIf="this.emailFormField.touched && this.emailFormField.invalid">
  TODO -  add communicate to user
  The email is not valid
</span>


<span *ngIf="this.passwordFormField.touched && this.passwordFormField.invalid">
  The password is not valid
</span>

<span *ngIf="this.roleFormField.touched && this.roleFormField.invalid">
  The role is not valid
</span> -->