:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  padding: 1rem;
  color: black;
}

.error {
  padding: 1rem;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}