<!-- TODO - more communicates when validation, maybe after first submitted? -->
<mat-card>
<!--  <mat-card-title>Sign Up</mat-card-title>-->
  <mat-card-title>Zarejestruj się</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="signUpSubmitForm()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" id="email" matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <div class="error-validation-message" *ngIf="this.email.touched && this.email.invalid">
<!--          The email is not valid-->
          Email nie jest poprawny
        </div>
      </div>

      <div>
        <mat-form-field appearance="outline">
<!--          <mat-label>Password</mat-label>-->
          <mat-label>Hasło</mat-label>
          <input type="password" id="password" matInput placeholder="Hasło" formControlName="password">
        </mat-form-field>
        <span class="error-validation-message" *ngIf="this.password.touched && this.password.invalid ">
          <!-- && password.errors?.['passwordStrength'] -->
<!--          Your password must have lower case, upper case and numeric characters.-->
          Twoje hasło musi mieć małą listerę, duża literę i znak alfa numeryczny.
        </span>
      </div>

      <div>
        <mat-form-field appearance="outline">
<!--          <mat-label>Confirm password</mat-label>-->
          <mat-label>Powtórz hasło</mat-label>
          <input type="password" id="confirmPassword" matInput placeholder="Powtórz hasło"
            formControlName="confirmPassword">
        </mat-form-field>
        <div class="error-validation-message" *ngIf="this.confirmPassword.touched && this.confirmPassword.invalid">
<!--          The passwords are not the same-->
          Hasła nie są takie same
        </div>
      </div>

      <div [hidden]="true">
        <mat-form-field appearance="outline">
<!--          <mat-label>Role</mat-label>-->
          <mat-label>Rola</mat-label>
          <input type="text" id="role" readonly="true" matInput placeholder="Role" formControlName="role">
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error-block">
        {{error}}
      </p>
<!--      <p>Already have an account? <a [routerLink]="['/authentication/sign-in']">Sign in</a></p>-->
      <p>Masz już konto klienta? <a [routerLink]="['/authentication/sign-in']">Zaloguj się teraz</a></p>
      <div class="button-container">
        <button type="button" (click)="signUpResetForm()" mat-button>Reset</button>
<!--        <button type="submit" mat-raised-button color="primary">Sign up</button>-->
        <button type="submit" mat-raised-button color="primary">Zarejestruj się</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<!-- <span *ngIf="this.emailFormField.touched && this.emailFormField.invalid">
  TODO -  add communicate to user
  The email is not valid
</span>


<span *ngIf="this.passwordFormField.touched && this.passwordFormField.invalid">
  The password is not valid
</span>

<span *ngIf="this.roleFormField.touched && this.roleFormField.invalid">
  The role is not valid
</span> -->
