<div class="container">
  <div class="menu-container">

    <!--    <mat-expansion-panel (opened)="true">-->
    <!--      <mat-expansion-panel-header>-->
    <!--        <mat-panel-title>-->
    <!--          {{ this.userName }}-->
    <!--        </mat-panel-title>-->
    <!--        <mat-panel-description>-->
    <!--          Currently I am -->
    <!--        </mat-panel-description>-->
    <!--      </mat-expansion-panel-header>-->
    <!--      <p>I'm visible because I am open</p>-->
    <!--    </mat-expansion-panel>-->

    <p class="userNameBar">{{ this.userName }}</p>
    <div class="inner-navbar">
      <button mat-flat-button [routerLink]="['reservations']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>schedule</mat-icon>Reservations
        </div>
      </button>

      <button mat-flat-button [routerLink]="['vehicles']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>directions_car</mat-icon>Vehicles
        </div>
      </button>

      <button mat-flat-button [routerLink]="['account']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>person</mat-icon>Account
        </div>
      </button>
    </div>

    <p [hidden]="!isAuthenticated" class="userNameBar">All clients</p>
    <div [hidden]="!isAuthenticated" class="inner-navbar">
      <button [hidden]="!isAuthenticated" mat-flat-button [routerLink]="['users']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>person</mat-icon>Users
        </div>
      </button>

      <button [hidden]="!isAuthenticated" mat-flat-button [routerLink]="['customers']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>person_pin_circle</mat-icon>Customers
        </div>
      </button>

      <button [hidden]="!isAuthenticated" mat-flat-button [routerLink]="['pending-reservations']" routerLinkActive="active" class="foreground-color">
        <div class="button-inner-container">
          <mat-icon>work</mat-icon>Pending reservations
        </div>
      </button>
    </div>
  </div>
  <div class="foreground-color inner-content">
    <router-outlet></router-outlet>
    <button mat-raised-button (click)="this._signalRService.join()">join</button>
    <button mat-raised-button (click)="this._signalRService.leave()">leave</button>
    <button mat-raised-button (click)="this._signalRService.invoke()">invoke</button>
  </div>
</div>
