.container {
  display: flex;
  gap: 0.5rem;
}

.inner-navbar {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex-grow: 1;
  margin-top: 0.5rem;

  & button {
    margin-top: 0.2rem;
    padding: 1.5rem;
  }
}

.inner-content {
  flex-grow: 4;
  width: 80%;
  background-color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

@media(max-width: 959px) {
  .container {
    display: block;
  }

  .inner-navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .inner-content {
    width: 100%;
    box-sizing: border-box;
  }
}