<div class="container">
  <div class="inner-navbar">
    <button mat-flat-button [routerLink]="['vehicles']" routerLinkActive="active" class="foreground-color">
      <div class="button-inner-container">
        <mat-icon>directions_car</mat-icon>Vehicles
      </div>
    </button>

    <button mat-flat-button [routerLink]="['reservations']" routerLinkActive="active" class="foreground-color">
      <div class="button-inner-container">
        <mat-icon>schedule</mat-icon>Reservations
      </div>
    </button>

    <button [hidden]="!isAuthenticated" mat-flat-button [routerLink]="['users']" routerLinkActive="active" class="foreground-color">
      <div class="button-inner-container">
        <mat-icon>person</mat-icon>Users
      </div>
    </button>

    <button [hidden]="!isAuthenticated" mat-flat-button [routerLink]="['customers']" routerLinkActive="active" class="foreground-color">
      <div class="button-inner-container">
        <mat-icon>person_pin_circle</mat-icon>Customers
      </div>
    </button>

  </div>
  <div class="foreground-color inner-content">
    <router-outlet></router-outlet>
  </div>
</div>
