@import '../../../styles/variables.scss';

mat-form-field {
  width: 50vw;
  min-width: 250px;
  max-width: 600px;
}

.mat-dialog-title {
  margin: 0;
}

.mat-dialog-content {
  padding-top: 1rem;
  color: $theme-text;
}

.mat-custom {
  color: $theme-text;
  background-color: $theme-header-footer;
}

.error-block {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  color: red;
  background-color: #FF000015;
  border: 1px red solid;
  text-align: center;
  border-radius: 5px;
}

.file-name {
  margin: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.form-files{
  display: flex;
  border: 1px gray solid;
  padding: 1rem;
  border-radius: 5px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 1.2rem;
  color: black;
}

.form-files-legend{
  font-size: 0.8rem;
  color: gray;
}
