$theme-outer-background: #263238;
$theme-inner-background: #37474f;
$theme-foreground: #455a64;
$theme-side: #3f51b5;
$theme-selected-background: #c5cae9;
$theme-selected-foreground: #7eaaf4;
$theme-text: #fafafa;

$color-primary: #3f51b5;
$color-warning: #ff9800;
$color-error: #f44336;

// $color-gray: #d3d3d3;