$theme-background: #141b1f;
$theme-outer-background: #1c262d;
$theme-inner-background: #233038;
$theme-selected-background: #08489b;
$theme-selected-foreground: #2aa391;
$theme-selected-hover-foreground: #54a2ef;
$theme-selected-hover-background: #222e36;
$theme-header-footer: #08489b;
$theme-text: #fafafa;
$theme-side: #ffffff;

$theme-light-error: #ee7171;

$color-primary: #3f51b5;
$color-warning: #ff9800;
$color-error: #f44336;

// $color-gray: #d3d3d3;
