<mat-nav-list>
  <mat-list-item>
    <div class="sideNav-container">GarageGenius</div>
  </mat-list-item>
  <mat-list-item routerLink="/home" routerLinkActive="active" (click)="onCloseSideNavigation()">
    <div class="sideNav-container" routerLinkActive="active-text">
      <mat-icon>home</mat-icon>
      <span class="sideNav-caption">Home</span>
    </div>
  </mat-list-item>

  <mat-list-item class="dashboard-item" *ngIf="this.isUserLoggedIn()" [matMenuTriggerFor]="menu"
    [ngClass]="this.nestedMenu() === true ? 'active active-text':''">
    <div class=" sideNav-container" [ngClass]="this.nestedMenu() === true ? 'active active-text':''">
      <mat-icon routerLinkActive="active">unfold_more</mat-icon>
      <a mat-line class="sideNav-caption">Dashboard</a>
    </div>
  </mat-list-item>
  <mat-menu #menu class="nested-dashboard-menu">
    <div mat-menu-item routerLink="/dashboard/vehicles" routerLinkActive="active" (click)="onCloseSideNavigation()">
      <mat-icon routerLinkActive="active-text">directions_car</mat-icon>
      <span class="sideNav-caption" routerLinkActive="active-text">Vehicles</span>
    </div>
    <div mat-menu-item routerLink="/dashboard/users" routerLinkActive="active" (click)="onCloseSideNavigation()">
      <mat-icon routerLinkActive="active-text">person</mat-icon>
      <span class="sideNav-caption" routerLinkActive="active-text">Users</span>
    </div>
    <div mat-menu-item routerLink="/dashboard/customers" routerLinkActive="active" (click)="onCloseSideNavigation()">
      <mat-icon routerLinkActive="active-text">person_pin_circle</mat-icon>
      <span class="sideNav-caption" routerLinkActive="active-text">Customers</span>
    </div>
    <div mat-menu-item routerLink="/dashboard/reservations" routerLinkActive="active" (click)="onCloseSideNavigation()">
      <mat-icon routerLinkActive="active-text">schedule</mat-icon>
      <span class="sideNav-caption" routerLinkActive="active-text">Reservations</span>
    </div>
  </mat-menu>

  <mat-list-item routerLink="/check-health" routerLinkActive="active active-text" (click)="onCloseSideNavigation()">
    <div class="sideNav-container" routerLinkActive="active active-text">
      <mat-icon>info</mat-icon>
      <span class="sideNav-caption">Health check</span>
    </div>
  </mat-list-item>

  <ng-container *ngIf="this.isUserLoggedIn() else elseTemplate">
    <mat-list-item (click)="signOut()">
      <div class="sideNav-container">
        <mat-icon>logout</mat-icon>
        <span class="sideNav-caption">Sign out</span>
      </div>
    </mat-list-item>
  </ng-container>
  <ng-template #elseTemplate>
    <mat-list-item (click)="this.onCloseSideNavigation()" routerLink="/authentication/sign-in"
      routerLinkActive="active">
      <div class="sideNav-container">
        <mat-icon>login</mat-icon>
        <span class="sideNav-caption">Sign in</span>
      </div>
    </mat-list-item>
  </ng-template>
</mat-nav-list>