<div class="section section-first">
  <div class="section-first-background">

  </div>
  <div class="section-first-text">
    <div class="inner-text">
      <h1 >YOU’RE MOST WELCOME</h1>
      <p class="title">Welcome to Garage Genius Website</p>
      <p class="description">We will make you love your car.</p>
      <button (click)="scroll(contact)" mat-raised-button>CONTACT US</button>
    </div>
  </div>
</div>

<div class="section">
  <h1>SERVICES</h1>
  <ul class="services-list">
    <li>Complete Vehicle Inspection</li>
    <li>Brake Services</li>
    <li>Engine Diagnostics</li>
    <li>Tire Rotation and Balance</li>
    <li>Oil Changes</li>
    <li>Air Conditioning Services</li>
    <li>Transmission Services</li>
    <li>Custom and Performance Modifications</li>
  </ul>
</div>

<div class="section">
  <h1>About Our Garage</h1>
  <p>Detail information about the garage, its history, mission, and vision.</p>
</div>

<div class="section">
  <h1>WHY CHOOSE US</h1>
  <p>Points that make Garage Genius stand out, such as our expertise, customer service, and quality assurance.</p>
</div>

<div class="section">
  <h1>OUR CLIENTS</h1>
  <p>Testimonials and feedback from satisfied customers, showcasing the trust and reliability of Garage Genius.</p>
</div>

<div class="section">
  <h1>OUR EXPERTISE</h1>
  <p>Detailed exposition on the technical and customer service expertise that Garage Genius offers.</p>
</div>

<div class="section">
  <h1>OUR TEAM</h1>
  <p>Meet the team of experts who will take care of your car.</p>
  <div class="team-members">
    <div class="team-member">
      <img src="images/team-member1.jpg" alt="Team Member 1">
      <p>John Doe</p>
      <p>Master Mechanic</p>
    </div>
    <div class="team-member">
      <img src="images/team-member2.jpg" alt="Team Member 2">
      <p>Jane Doe</p>
      <p>Customer Service Specialist</p>
    </div>
    <div class="team-member">
      <img src="images/team-member3.jpg" alt="Team Member 3">
      <p>Joe Doe</p>
      <p>Performance Specialist</p>
    </div>
  </div>
</div>

<div class="section">
  <h1>OUR LOCATION</h1>
  <p>Map and directions to the garage.</p>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.0566052022655!2d19.506665899999998!3d49.822601299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471687affab4d989%3A0xe6d7e119530edc71!2sKoziniec%202%2C%2034-106%20Koziniec!5e0!3m2!1spl!2spl!4v1708190781227!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div #contact class="section section-last">
  <h1>CONTACT US</h1>
  <div class="contact-info">
    <p>Email: contact.at.garagegeniuscom</p>
    <p>Phone: +123 456 7890</p>
    <p>Address: 123 Main Street, Hometown, Country</p>
    <p>Follow us on social media for updates and promotions!</p>
  </div>
</div>
