<div class="section section-first">
  <div class="section-first-background">

  </div>
  <div class="section-first-text">
    <div class="inner-text">
      <h1 >WITAMY</h1>
      <p class="title">Witamy na stronie warsztatu GarageGenius</p>
      <p class="description">Sprawimy, że pokochasz swój samochód.</p>
      <button (click)="scroll(contact)" mat-raised-button>KONTAKT</button>
    </div>
  </div>
</div>


<div class="section">
  <h1 class="header">O NASZYM WARSZTACIE</h1>
  <p class="content">
    GarageGenius jest lokalną firmą, założoną 1 czerwca 2011 roku. Jej siedziba znajduje się pod adresem Koziniec 2, 34-106 Mucharz.
  </p>
  <p class="content">
    W GarageGenius ciężko pracowaliśmy, aby zbudować reputację firmy oferującej wszystkim naszym klientom usługi godne zaufania i warte swojej ceny.
  </p>
  <p class="content">
    Rozumiemy znaczenie dobrej obsługi klienta, a większość naszej pracy zdobyliśmy dzięki pozytywnym przekazom szeptanym i powtarzającym się zwyczajom.
  </p>
  <p class="content">
    Nasi mechanicy samochodowi są w pełni wykwalifikowani i doświadczeni w pracy ze wszystkimi typami pojazdów, wykonując wszystkie prace zgodnie z najwyższymi standardami po bardzo konkurencyjnej cenie.
  </p>
</div>

<div class="section">
  <h1 class="header">USŁUGI</h1>
  <div class="content">
    <ul>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Diagnostyka oraz kontrolę pojazdu</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Usługi hamulcowe</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Diagnostyka silnika</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Wulkanizacja i wyważenie opon</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Wymiana oleju</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Usługi klimatyzacyjne</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Usługi skrzyni biegów</li>
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="build"></mat-icon>
        Modyfikacje niestandardowe, dotyczące podnoszenia mocy</li>
    </ul>
  </div>
</div>
<div class="section">
  <h1 class="header">DLACZEGO WYBRAĆ NAS</h1>
  <p class="content content-text">
    Podczas pracy nad Twoim samochodem dokładnie wyjaśnimy Ci wszystkie dostępne opcje, wraz z naszymi osobistymi rekomendacjami.
    Rozumiemy frustrację spowodowaną brakiem samochodu, dlatego nasi mechanicy samochodowi sprawnie pracują, aby Twój samochód wrócił na drogę w mgnieniu oka.
  </p>
  <div class="content">
  <ul>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Naszą pierwszą troską jest jakość usług</li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Promujemy równość wśród naszych pracowników</li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Rozumiemy, że Twój czas jest cenny</li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Nasi technicy to prawdziwi eksperci</li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Korzystamy z najnowocześniejszego sprzętu</li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"></mat-icon>
      Oferujemy pełny pakiet świadczeń</li>
  </ul>
  </div>
</div>

<div class="section">
  <h1 class="header">NASZ ZESPÓŁ</h1>
  <p class="content-text">Poznaj zespół ekspertów, którzy zaopiekują się Twoim samochodem.</p>
  <div class="team-members">
    <div class="team-member">
      <img src="/assets/team/1.png" alt="Krystian">
      <p><b>Krystian</b></p>
      <p>Główny mechanik</p>
    </div>
    <div class="team-member">
      <img src="/assets/team/2.png" alt="Gabriel">
      <p><b>Gabriel</b></p>
      <p>Specjalista ds. osiągów</p>
    </div>
    <div class="team-member">
      <img src="/assets/team/3.png" alt="Mariusz">
      <p><b>Mariusz</b></p>
      <p>Specjalista ds. obsługi klienta</p>
    </div>
    <div class="team-member">
      <img src="/assets/team/4.png" alt="Krzysztof">
      <p><b>Krzysztof</b></p>
      <p>Specjalista ds. zawieszenia</p>
    </div>
  </div>
</div>

<div class="section">
  <h1 class="header">NASI KLIENCI</h1>
  <!--  <p class="content-text">Testimonials and feedback from satisfied customers, showcasing the trust and reliability of Garage Genius.</p>-->
  <p class="content-text">Referencje i opinie zadowolonych klientów, potwierdzające zaufanie i niezawodność Garage Genius.</p>
  <div class="clients">
    <div class="client">
      <img src="/assets/clients/1.png" alt="Krystian">
      <p>Klient 1</p>
      <p>
        Doskonała praca i wielka wartość od najlepszego zespołu.
        Oprócz uczciwości, rzetelności i doskonałości obsługi,
        w pełni polecam ten warsztat do obsługi każdego pojazdu.
      </p>
    </div>
    <div class="client">
      <img src="/assets/clients/2.png" alt="Gabriel">
      <p>Klient 2</p>
      <p>
        Jeśli chodzi o naprawę samochodów, chodzi o zdobycie lojalności i zaufania,
        robiąc wszystko, co w ich mocy, każdego dnia. Są zdeterminowani,
        aby zdobyć i utrzymać nasze zaufanie.
      </p>
    </div>
    <div class="client">
      <img src="/assets/clients/3.png" alt="Mariusz">
      <p>Klient 3</p>
      <p>
        Nie ma innego warsztatu, któremu zaufałbym w kwestii opieki nad moimi samochodami.
        Są wspaniali i każdy, kogo z nich wspominam, mówi mi to samo.
        Moja żona czuje się bezpiecznie w kontaktach z nimi i zawsze dostarczają pojazd na czas.
      </p>
    </div>
    <div class="client">
      <img src="/assets/clients/4.png" alt="Krzysztof">
      <p>Klient 4</p>
      <p>
        Są zdeterminowani, aby zdobyć i utrzymać nasze zaufanie. Słuchają nas, więc rozumiemy nasze potrzeby
        i cele związane z naprawą naszych samochodów.
      </p>
    </div>
  </div>
</div>

<div class="section">
  <h1 class="header">NASZA LOKALIZACJA</h1>
  <p class="content-text">Mapa i kierunek do naszego warsztatu.</p>
  <br>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.0566052022655!2d19.506665899999998!3d49.822601299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471687affab4d989%3A0xe6d7e119530edc71!2sKoziniec%202%2C%2034-106%20Koziniec!5e0!3m2!1spl!2spl!4v1708190781227!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div #contact class="section section-last">
  <h1 class="header">SKONTAKTUJ SIĘ Z NAMI</h1>
  <div class="contact-info">
    <p class="content-text">Email: admin&#64;garagegenius.com</p>
    <p class="content-text">Telefon: +48 123 456 789</p>
    <p class="content-text">Adres: 34-106 Mucharz, Koziniec 2</p><br/>
    <p class="content-text">Jesteśmy otwarci od <b>7:30 do 18:00 od poniedziałku do piątku!</b></p>
    <p>Śledź nas w mediach społecznościowych, aby otrzymywać aktualizacje i promocje!</p>
  </div>
</div>
