<div>
  <div class="bar">
    <h2>Vehicle list</h2>
    <button mat-icon-button [routerLink]="['new']"><mat-icon fontIcon="add"></mat-icon></button>
  </div>
  <mat-action-list>
    <mat-list-item *ngFor="let vehicle of vehicles">
      <a mat-list-item [routerLink]="[vehicle.id]" class="cols">
        <span class="cols">{{ vehicle.vin }} - {{vehicle.manufacturer}} {{ vehicle.model }} {{ vehicle.year }} {{
          vehicle.licensePlate }}</span>
      </a>
    </mat-list-item>
  </mat-action-list>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="vehicles && vehicles.length">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>
              <a [routerLink]="['/users', vehicle]">
                {{ vehicle.model }}
              </a>
            </td>
            <td>{{ vehicle.manufacturer }}</td>
            <td>
              <a class="btn btn-primary" routerLinkActive="active" [routerLink]="['/users/edit', vehicle.id]">
                Edit
              </a>
              &nbsp;
              <button type="button" class="btn btn-primary btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>

<!-- <ng-template #deletetemplate>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete
      <strong> {{ selectedUser.userName }}</strong>
    </p>
    <button type="button" class="btn btn-primary" (click)="confirmDelete()">
      Yes
    </button>
    <button type="button" class="btn btn-default" (click)="cancelDelete()">
      No
    </button>
  </div>
</ng-template> -->

<!-- <ng-template #auditlogtemplate>
  <div class="modal-body text-center">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Date Time</th>
            <th>User Name</th>
            <th>Action</th>
            <th>Name</th>
            <th>Description</th>
            <th>File Name</th>
            <th>File Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditLog of auditLogs">
            <td>
              {{ auditLog.createdDateTime | date: "dd/MM/yyyy hh:mm:ss" }}
            </td>
            <td>{{ auditLog.userName }}</td>
            <td>{{ auditLog.action }}</td>
            <td [style.color]="auditLog.highLight.name ? 'red' : ''">
              {{ auditLog.data.name }}
            </td>
            <td [style.color]="auditLog.highLight.description ? 'red' : ''">
              {{ auditLog.data.description }}
            </td>
            <td [style.color]="auditLog.highLight.userName ? 'red' : ''">
              {{ auditLog.data.userName }}
            </td>
            <td [style.color]="auditLog.highLight.userLocation ? 'red' : ''">
              {{ auditLog.data.userLocation }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template> -->