<div>
  <div class="title-bar">
    <h2>Vehicle list</h2>
    <button color="primary" mat-mini-fab [routerLink]="['add']"><mat-icon fontIcon="add"></mat-icon></button>
  </div>
  <mat-action-list>
    <mat-list-item *ngFor="let vehicle of vehicles">
      <a mat-list-item [routerLink]="[vehicle.id]">
        <span>{{ vehicle.vin }} - {{vehicle.manufacturer}} {{ vehicle.model }} {{ vehicle.year }} {{
          vehicle.licensePlate }}</span>
      </a>
    </mat-list-item>
  </mat-action-list>
</div>

<!-- <ng-template #deletetemplate>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete
      <strong> {{ selectedUser.userName }}</strong>
    </p>
    <button type="button" class="btn btn-primary" (click)="confirmDelete()">
      Yes
    </button>
    <button type="button" class="btn btn-default" (click)="cancelDelete()">
      No
    </button>
  </div>
</ng-template> -->

<!-- <ng-template #auditlogtemplate>
  <div class="modal-body text-center">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Date Time</th>
            <th>User Name</th>
            <th>Action</th>
            <th>Name</th>
            <th>Description</th>
            <th>File Name</th>
            <th>File Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditLog of auditLogs">
            <td>
              {{ auditLog.createdDateTime | date: "dd/MM/yyyy hh:mm:ss" }}
            </td>
            <td>{{ auditLog.userName }}</td>
            <td>{{ auditLog.action }}</td>
            <td [style.color]="auditLog.highLight.name ? 'red' : ''">
              {{ auditLog.data.name }}
            </td>
            <td [style.color]="auditLog.highLight.description ? 'red' : ''">
              {{ auditLog.data.description }}
            </td>
            <td [style.color]="auditLog.highLight.userName ? 'red' : ''">
              {{ auditLog.data.userName }}
            </td>
            <td [style.color]="auditLog.highLight.userLocation ? 'red' : ''">
              {{ auditLog.data.userLocation }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template> -->

<div class="responsive-table">
  <table mat-table [dataSource]="this.dataSource" aria-label="vehicle-list">
    <ng-container *ngIf="true" matColumnDef="id">
      <th hidden mat-header-cell *matHeaderCellDef> Id </th>
      <td hidden mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="manufacturer">
      <th class="vehicle-table" mat-header-cell *matHeaderCellDef> manufacturer </th>
      <td class="vehicle-table" mat-cell *matCellDef="let element">{{element.manufacturer}}</td>
    </ng-container>
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> model </th>
      <td mat-cell *matCellDef="let element">{{element.model}}</td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> year </th>
      <td mat-cell *matCellDef="let element">{{element.year}}</td>
    </ng-container>
    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef> vin </th>
      <td mat-cell *matCellDef="let element">{{element.vin}}</td>
    </ng-container>
    <ng-container matColumnDef="licensePlate">
      <th mat-header-cell *matHeaderCellDef> licensePlate </th>
      <td mat-cell *matCellDef="let element">{{element.licensePlate}}</td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="this.redirectToDetails(element.id)">
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="this.redirectToUpdate(element.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="this.redirectToDelete(element.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
  </table>
</div>