<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="this.onToggleSideNavigation()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <a routerLink="/" routerLinkActive="active-link">
      <img src="./assets/LOGO.png" alt="logo" />
    </a>
  </div>
  <div fxHide.xs fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a *ngIf="this.isAdmin()" routerLink="/check-health">Health check</a>
      </li>
      <li *ngIf="this.isAdmin()">|</li>
      <li *ngIf="this.isUserLoggedIn()">
<!--        <a routerLink="/dashboard">Dashboard</a>-->
        <a routerLink="/dashboard">Panel użytkownika</a>
      </li>
      <li *ngIf="this.isUserLoggedIn()">|</li>
      <li>
        <ng-container *ngIf="this.isUserLoggedIn() else elseTemplate">
<!--          <a routerLink="/authentication/sign-out" (click)="this.signOut()">Sign out</a>-->
          <a routerLink="/authentication/sign-out" (click)="this.signOut()">Wyloguj się</a>
        </ng-container>
      </li>
      <li>
        <ng-template #elseTemplate>
          <a routerLink="/authentication/sign-in">Zaloguj się</a>
<!--          <a routerLink="/authentication/sign-in">Sign in</a>-->
        </ng-template>
      </li>
    </ul>
  </div>
</mat-toolbar>
