@import '../../../styles/variables.scss';

a {
  text-decoration: none;
  color: $theme-text;
}

a:hover,
a:active {
  color: $theme-selected-background;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
  height: 100%;
}

.logo a {
  display: flex;
  padding: 0.5rem;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}