@import '../../../styles/variables.scss';

a:hover,
a:active {
  color: $theme-selected-hover-foreground;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
  height: 100%;
  color: $theme-text;
  background-color: $theme-header-footer;
}

.logo a {
  display: flex;
  padding: 0.5rem;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.navigation-items a {
  padding: 0.5em 0;
  color: $theme-text;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

.navigation-items a:hover {
  color: #fffA;
}

.navigation-items a:before,
.navigation-items a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navigation-items a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: $theme-selected-hover-foreground;
}

.navigation-items a:hover:before,
.navigation-items .current a:before {
  opacity: 1;
  width: 100%;
}

.navigation-items a:hover:after,
.navigation-items .current a:after {
  max-width: 100%;
}
