<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/" routerLinkActive="active-link">GarageGenius</a>
  </div>
  <div fxHide.xs fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/health-check">Health check</a>
      </li>
      <li *ngIf="this.isUserLoggedIn()">
        <button mat-raised-button routerLink="/dashboard">Dashboard</button>
      </li>
      <li>
        <ng-container *ngIf="this.isUserLoggedIn() else elseTemplate">
          <a (click)="this.signOut()" routerLink="/authentication/sign-out">Sign out</a>
        </ng-container>
      </li>
      <li>
        <ng-template #elseTemplate>
          <a routerLink="/authentication/sign-in">Sign in</a>
        </ng-template>
      </li>
    </ul>
  </div>
</mat-toolbar>