<div>
  <div class="title-bar">
    <h1>Account details</h1>
  </div>
</div>

<div class="example-margin">
  <p><strong>Email address:</strong> {{ this.user?.email }}</p>
  <p><strong>Role:</strong> {{ this.user?.role }}</p>
  <p><strong>State:</strong> {{ this.user?.state }}</p>
  <p><strong>Created:</strong> {{ this.user?.created | date }}</p>
  <p *ngIf="this.customer?.firstName"><strong>First name:</strong> {{ this.customer?.firstName }}</p>
  <p *ngIf="this.customer?.lastName"><strong>Last name:</strong> {{ this.customer?.lastName }}</p>
  <p *ngIf="this.customer?.phoneNumber"><strong>Phone:</strong> {{ this.customer?.phoneNumber }}</p>
</div>
