<div class="container-title">
  <div class="title-bar">
    <div>
      <!--    <h1>Account details</h1>-->
      <h2 class="title-bar_model">Szczegóły konta</h2>
    </div>
    <div>
      <button *ngIf="!this.editMode" mat-icon-button type="button" matTooltip="Edit account details"
              (click)="this.editAccount()">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="this.editMode" mat-icon-button type="button" (click)="this.editAccount()" matTooltip="Cancel">
        <mat-icon>clear</mat-icon>
      </button>
      <button *ngIf="this.editMode" mat-icon-button type="button" (click)="this.saveAccountChanges()" matTooltip="Save">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
<!--  <div class="line"></div>-->

<div class="container-content example-margin">
  <p>Email: <b> {{ this.user?.email }} </b></p>
<!--  <p>Email address: <b> {{ this.user?.email }} </b></p>-->
  <p>Rola: <b> {{ this.user?.role }} </b></p>
<!--  <p>Role: <b> {{ this.user?.role }} </b></p>-->
  <p>Status: <b> {{ this.user?.state }} </b></p>
<!--  <p>State: <b> {{ this.user?.state }} </b></p>-->
  <p>Data utworzenia: <b> {{ this.user?.created | date }} </b></p>
<!--  <p>Created: <b> {{ this.user?.created | date }} </b></p>-->

  @if(!this.editMode){
  <p *ngIf="this.customer?.firstName">Imię: <b> {{ this.customer?.firstName }} </b></p>
<!--  <p *ngIf="this.customer?.firstName">First name: <b> {{ this.customer?.firstName }} </b></p>-->
  <p *ngIf="this.customer?.lastName">Nazwisko: <b> {{ this.customer?.lastName }} </b></p>
<!--  <p *ngIf="this.customer?.lastName">Last name: <b> {{ this.customer?.lastName }} </b></p>-->
  <p *ngIf="this.customer?.phoneNumber">Numer telefonu: <b> {{ this.customer?.phoneNumber }} </b></p>
<!--  <p *ngIf="this.customer?.phoneNumber">Phone: <b> {{ this.customer?.phoneNumber }} </b></p>-->
  }
  @else{
    <form [formGroup]="updateAccountForm">
      <div class="account-property" *ngIf="this.editMode">
        <mat-form-field class="account-property-edit" appearance="outline">
          <mat-label>Imię</mat-label>
          <input class="account-property-value" matInput
                 formControlName="firstName">
          <mat-hint>Zmień swoję imie</mat-hint>
        </mat-form-field>
      </div>
      <div class="account-property" *ngIf="this.editMode">
        <mat-form-field class="account-property-edit" appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input class="account-property-value" matInput
                 formControlName="lastName">
          <mat-hint>Zmień swoję nazwisko</mat-hint>
        </mat-form-field>
      </div>
      <div class="account-property" *ngIf="this.editMode">
        <mat-form-field class="account-property-edit" appearance="outline">
          <mat-label>Numer telefonu</mat-label>
          <input class="account-property-value" matInput
                 formControlName="phoneNumber">
          <mat-hint>Zmień swoj numer telefonu</mat-hint>
        </mat-form-field>
      </div>
    </form>
  }

</div>
</div>
