<app-layout>
  <mat-sidenav-container hasBackdrop="true" role="navigation">
    <mat-sidenav #sideNavigation opened="false" mode="over" position="start">
      <app-side-navigation (sideNavigationClose)="this.sideNavigation.close()"></app-side-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sideNavigationToggle)="sideNavigation.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>