@import '../../../styles/variables.scss';

main {
  padding: 1rem;
  flex-grow: 1;
}

mat-sidenav-container,
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  background-color: $theme-outer-background;
}

mat-sidenav {
  background-color: $theme-outer-background;
  width: 250px;
}
