@import '../../../styles/variables.scss';

.mat-custom {
  color: $theme-text;
  background-color: $theme-header-footer;
}

.reservation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.reservation-content {

  h3,
  p {
    color: $theme-text;
  }

  .mat-mdc-list-item-meta.mdc-list-item__end {
    color: lightgray !important;
  }
}