<h1 mat-dialog-title class="mat-dialog-title">Vehicle reservations</h1>
<div mat-dialog-content class="mat-dialog-content">
  <div *ngIf="this.vehicleReservationsResponse?.vehicleReservationsDto!.length > 0 else template">
    <div *ngFor="let reservation of this.vehicleReservationsResponse?.vehicleReservationsDto; let i = index">
      <p>{{i+1}}</p>
      <p>{{ reservation.reservationId }}</p>
      <p>{{ reservation.reservationDate }}</p>
      <p>{{ reservation.reservationState }}</p>
      <p>{{ reservation.comment }}</p>
    </div>
  </div>
  <ng-template #template>
    <p>No reservations found</p>
  </ng-template>
  <mat-dialog-actions [align]="'end'">
    <button mat-dialog-close type="button" mat-raised-button color="primary">OK</button>
  </mat-dialog-actions>
</div>