@import '../../../styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-title {
  display: flex;
  flex-direction: column;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  &_model {
    margin: 0;
  }
}

.vehicle-property-edit {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vehicle-property {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;

  &-name {
    grid-column: 2/3;
  }

  &-value {
    grid-column: 3/4;
  }

}

mat-form-field {

  mat-label,
  input {
    color: white !important;
  }
}

.add-reservation_button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  & button {
    color: $theme-side;
    background-color: $theme-selected-background;
  }
}

mat-card-content,
mat-card-title,
mat-card-actions {
  text-align: center;
}

mat-card-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media(max-width: 959px) {

  .vehicle-property {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

.communicate {
  color: $theme-selected-foreground;
  text-align: center;
  padding: 0.5rem;
}

.vehicle-reservation {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: lightgray;
}
