@import '../../../styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  &_model {
    margin: 0;
  }

}

.vehicle-property {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  gap: 1rem;
  justify-items: left;

  &-name {
    grid-column: 2/3;
  }

  &-value {
    grid-column: 4/5;
  }
}

.add-reservation_button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  & button {
    color: $theme-side;
    background-color: $theme-selected-background;
  }
}

mat-card-content,
mat-card-title,
mat-card-actions {
  text-align: center;
}

mat-card-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  background-color: antiquewhite;
  width: 95%;
  color: antiquewhite;
}

@media(max-width: 959px) {

  .vehicle-property {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
