@import '../../../../styles/variables.scss';

.custom-snack-bar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 0.5rem;
  /* optional - so is the snack bar a little bit small */
}

#progress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

::ng-deep .success-snackbar,
::ng-deep .failed-snackbar {
  margin-top: 5px !important;
}

::ng-deep .mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #2aa391;
    --mdc-snackbar-supporting-text-color: white;
  }
}

::ng-deep .failed-snackbar button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

::ng-deep .mat-mdc-snack-bar-container {
  &.failed-snackbar {
    --mdc-snackbar-container-color: rgb(238, 64, 64);
    --mdc-snackbar-supporting-text-color: white;
  }
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #0e5bc0;
  --mdc-linear-progress-track-color: white; // background color
}

.mat-custom {
  color: black;
  background-color: #ffffff;
}
