<div class="container-title" *ngIf="this.reservationDetails">
  <div class="title-bar">
    <div>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>undo</mat-icon>
      </button>
      <h2 class="title-bar_model">{{ reservationDetails?.reservationId }}</h2>
    </div>
    <div>
      <!-- <button mat-icon-button type="button" (click)="this.openDialog()" matTooltip="Repair reservations">
        <mat-icon>event_note</mat-icon>
      </button> -->
      <button *ngIf="!this.editMode" mat-icon-button type="button" matTooltip="Edit vehicle"
              (click)="this.editReservation()">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="this.editMode" mat-icon-button type="button" (click)="this.editReservation()" matTooltip="Cancel">
        <mat-icon>clear</mat-icon>
      </button>
      <button *ngIf="this.editMode" mat-icon-button type="button" (click)="this.updateReservation()" matTooltip="Save">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <div class="line"></div>

  <div class="reservation-details">
    <div class="reservation-details_item">
      <div class="reservation-details_item__id">
        <span>Reservation ID:</span>
        <i>{{ this.reservationDetails.reservationId }}</i>
      </div>
      <div class="reservation-details_item__date">
        <span>Reservation date:</span>
        <i>{{ this.reservationDetails.reservationDate }}</i>
      </div>
      <div class="reservation-details_item__state">
        <span>Reservation state:</span>
        <i>{{ this.reservationDetails.reservationState }}</i>
      </div>
      <div class="reservation-details_item__comment">
        <span>Comment:</span>
        <i>{{ this.reservationDetails.comment }}</i>
      </div>
    </div>

    <div *ngIf="this.reservationHistory">
      <app-table-gg [tableColumns]="this.tableColumns" [tableData]="tableData"> </app-table-gg>
    </div>
  </div>
</div>
