<!-- TODO - more communicates when validation, maybe after first submitted? -->
<h1 mat-dialog-title class="mat-dialog-title">Adding a new vehicle</h1>
<div mat-dialog-content class="mat-dialog-content">
  <form [formGroup]="this.vehicleAddForm" (ngSubmit)="this.vehicleAddSubmitForm()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>customerid</mat-label>
        <input type="text" id="customerId" matInput placeholder="CustomerId" formControlName="customerId" />
      </mat-form-field>
      <div class="error-validation-message" *ngIf="this.customerId.touched && this.customerId.invalid">
        The CustomerID value is not valid
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>manufacturer</mat-label>
        <input type="text" id="manufacturer" matInput placeholder="manufacturer" formControlName="manufacturer">
      </mat-form-field>
      <span class="error-validation-message" *ngIf="this.manufacturer.touched && this.manufacturer.invalid ">
        <!-- && manufacturer.errors?.['manufacturerStrength'] -->
        Your manufacturer ...
      </span>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>model</mat-label>
        <input type="text" id="model" matInput placeholder="model" formControlName="model">
      </mat-form-field>
      <div class="error-validation-message" *ngIf="this.model.touched && this.model.invalid">
        innvalid model
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>licensePlate</mat-label>
        <input type="text" id="licensePlate" matInput placeholder="licensePlate" formControlName="licensePlate">
      </mat-form-field>
      <div class="error-validation-message" *ngIf="this.licensePlate.touched && this.licensePlate.invalid">
        innvalid licensePlate
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>year</mat-label>
        <input type="number" id="year" matInput placeholder="year" formControlName="year">
      </mat-form-field>
      <div class="error-validation-message" *ngIf="this.year.touched && this.year.invalid">
        innvalid year
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>vin</mat-label>
        <input type="text" id="vin" matInput placeholder="vin" formControlName="vin">
      </mat-form-field>
      <div class="error-validation-message" *ngIf="this.vin.touched && this.vin.invalid">
        innvalid vin
      </div>
    </div>

    <p *ngIf="error" class="error-block">
      {{error}}
    </p>
    <mat-dialog-actions [align]="'end'">
      <button type="button" (click)="vehicleAddResetForm()" mat-button>Reset</button>
      <button type="button" mat-dialog-close mat-raised-button color="warn">Close</button>
      <button type="submit" mat-raised-button color="custom">Sign up</button>
    </mat-dialog-actions>
  </form>
</div>
