<table
  class="foreground-color"
  mat-table
  [dataSource]="dataSource">

  <ng-container
    *ngFor="let disCol of tableColumns let colIndex = index;"
    matColumnDef="{{disCol.columnDef}}">
    <th mat-header-cell
        class="text-primary-color"
        *matHeaderCellDef>
      {{ disCol.header }}
    </th>

    <td
      mat-cell
      class="text-primary-color"
      *matCellDef="let element">
        <span
          *ngIf="!disCol.isLink; else link">
            {{ disCol.cell(element) }}
        </span>

      <ng-template #link>
        <a [routerLink]="[disCol.url]">
          {{ disCol.cell(element) }}
        </a>
      </ng-template>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns">
  </tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
