:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #303030;
  color: #fff;
  padding: 1em;
}

.active-link {
  background-color: #fff;
  color: #303030;
}

button {
  margin: 5px;
}
