<div class="button-container">
  <button mat-flat-button routerLink="/" routerLinkActive="active-link">Home</button>

  <ng-container *ngIf="this.isUserLogggedIn() else elseTemplate">
    <button mat-flat-button routerLink="/authentication/sign-out">Sign out</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-flat-button routerLink="/authentication/sign-in">Sign in</button>
  </ng-template>
  <button mat-flat-button routerLink="/authentication/sign-up">Sign up</button>

  <button mat-raised-button color="primary" routerLink="/health-check">Health check</button>
</div>
<router-outlet></router-outlet>