<div class="button-container">
  <div>
    <button mat-flat-button routerLink="/" routerLinkActive="active-link">Home</button>

    <button mat-raised-button color="primary" routerLink="/health-check">Health check</button>
    <button *ngIf="this.isUserLoggedIn()" mat-raised-button color="primary" routerLink="/dashboard">Dashboard</button>

  </div>
  <div>
    <ng-container *ngIf="this.isUserLoggedIn() else elseTemplate">
      <button (click)="this.signOut()" mat-flat-button routerLink="/authentication/sign-out">Sign out</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-flat-button routerLink="/authentication/sign-in">Sign in</button>
    </ng-template>
    <button mat-flat-button routerLink="/authentication/sign-up">Sign up</button>

  </div>
</div>
<router-outlet></router-outlet>
