:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  h2{
    padding: 0;
    margin: 0;
  }
}

.reservation-details{
  padding: 1rem;
}

.reservation-history {
  padding: 1rem;
}

.reservation-history_item{
  padding: 10px;
  border: 1px solid #fff3;
  border-radius: 10px;
  margin-bottom: 10px;
}
