<div class="container" *ngIf="this.reservationDetails">
  <div class="title-bar">
    <button mat-icon-button><mat-icon>undo</mat-icon></button>
    <h2 class="title-bar_model">{{ this.reservationDetails.reservationId }}</h2>
  </div>

  <div class="reservation-details">
    <div class="reservation-details_item">
      <div class="reservation-details_item__id">
        <span>Reservation ID:</span>
        <i>{{ this.reservationDetails.reservationId }}</i>
      </div>
      <div class="reservation-details_item__date">
        <span>Reservation date:</span>
        <i>{{ this.reservationDetails.reservationDate }}</i>
      </div>
      <div class="reservation-details_item__state">
        <span>Reservation state:</span>
        <i>{{ this.reservationDetails.reservationState }}</i>
      </div>
      <div class="reservation-details_item__comment">
        <span>Comment:</span>
        <i>{{ this.reservationDetails.comment }}</i>
      </div>
    </div>

    <div *ngIf="this.reservationHistory">

      <app-table-gg [tableColumns]="this.tableColumns" [tableData]="tableData"> </app-table-gg>

<!--      <mat-table #table [dataSource]="reservationHistory!.reservationHistoriesDtos">-->
<!--        <ng-container matColumnDef="date_posted">-->
<!--          <mat-header-cell *matHeaderCellDef> Date Posted </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.updateDate  | date: 'd/M/y'}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="title">-->
<!--          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.reservationState}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="category">-->
<!--          <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="delete">-->
<!--          <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element">-->
<!--            <a-->
<!--              type="button">-->
<!--              <mat-icon class="icon">delete</mat-icon>-->
<!--            </a>-->
<!--          </mat-cell>-->
<!--        </ng-container>-->
<!--        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--      </mat-table>-->


      <div class="reservation-history">
        <div class="reservation-history_item"
          *ngFor="let reservation of this.reservationHistory.reservationHistoriesDtos">
          <div class="reservation-history_item__id">
            <span>Reservation history ID:</span>
            <i>{{ reservation.reservationHistoryId }}</i>
            <div class="reservation-history_item__date">
              <span>Reservation history state:</span>
              <i>{{ reservation.reservationState }}</i>
            </div>
            <div class="reservation-history_item__time">
              <span>Reservation history date:</span>
              <i>{{ reservation.updateDate }}</i>
            </div>
            <div class="reservation-history_item__state">
              <span>Reservation history comment:</span>
              <i>{{ reservation.comment }}</i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="vehicle-property">
    <strong class="vehicle-property-name">Manufacturer:</strong>
    <i class="vehicle-property-value">{{ vehicleResponse.manufacturer }}</i>
  </div>
  <hr />

  <div class="vehicle-property">
    <strong class="vehicle-property-name">Model:</strong>
    <i class="vehicle-property-value">{{ vehicleResponse.model }}</i>
  </div>
  <hr />

  <div class="vehicle-property">
    <strong class="vehicle-property-name">Year:</strong>
    <i class="vehicle-property-value">{{ vehicleResponse.year }}</i>
  </div>
  <hr />

  <div class="vehicle-property">
    <strong class="vehicle-property-name">License plate:</strong>
    <i class="vehicle-property-value">{{ vehicleResponse.licensePlate }}</i>
  </div>
  <hr />

  <div class="vehicle-property">
    <strong class="vehicle-property-name">VIN number:</strong>
    <i class="vehicle-property-value">{{ vehicleResponse.vin }}</i>
  </div>

  <div class="add-reservation_button">
    <button mat-stroked-button type="button" (click)="this.openDialog()">Show all
      reservations</button>
  </div> -->
    </div>
  </div>
</div>
