@import '../../../styles/variables.scss';

:host {
  height: 60px;
  background-color: $theme-header-footer;
  color: $theme-text;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: $theme-text;
  color: white;
  margin: 0 15px;
  outline: none;
  scale: 130%;
}

a:hover,
a:active {
  color: $theme-selected-hover-foreground;
}

.line {
  margin: 0 20px;
  height: 30px;
  width: 1px;
  background-color: white;
}
