@import "./styles/variables.scss";
// @import './app/vehicles/vehicle-add/vehicle-add.component.scss';
// @include myPanel();

/* You can add global styles to this file, and also import other style files */

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  color: $theme-text;
  background-color: $theme-background;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-color {
  background-color: $theme-outer-background;
}

.foreground-color {
  background-color: $theme-inner-background !important;
}

.text-primary-color {
  color: $theme-text;
}

.text-secondary-color {
  color: $theme-selected-hover-foreground;
}

.text-error-color {
  color: $theme-light-error;
}