@use '@angular/material' as mat;
@include mat.core();
$bright-navy-blue-palette: (
  50: #e3f2fd,
  100: #badffb,
  200: #8fcbfa,
  300: #61b7f7,
  400: #3ca7f6,
  500: #0c98f5,
  600: #078ae7,
  700: #0078d4,
  800: #0067c2,
  900: #0049a3,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);
$bluesky-primary: mat.define-palette($bright-navy-blue-palette, 700, 300, 900);
$bluesky-theme: mat.define-light-theme((color: (primary: $bluesky-primary,
        accent: $bluesky-primary,
        warn: $bluesky-primary,
      )));
// TODO - do it better way material theming with this theme

// @include mat.all-component-themes($bluesky-theme);

@import "./styles/variables.scss";
// @import './app/vehicles/vehicle-add/vehicle-add.component.scss';
// @include myPanel();

/* You can add global styles to this file, and also import other style files */

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  color: $theme-text;
  background-color: $theme-background;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-color {
  background-color: $theme-outer-background;
}

.foreground-color {
  background-color: $theme-inner-background !important;
}

.text-primary-color {
  color: $theme-text;
}

.text-secondary-color {
  color: $theme-selected-hover-foreground;
}

.text-error-color {
  color: $theme-light-error;
}
